html {
  background: #fff;
  height: 100%;
  padding-top: 30px;
  background-image: url('/images/sapShell_BackgroundImage.png');
}

body {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  position: relative;
  top: 12%;
}

h3 {
  height: 58px;
}

.channelPlayer {
  width: 940px;
}

.channelPlayer li {
  margin-right: 4px;
  display: inline-block;
  width: 210px;
  margin-bottom: 24px;
  height: 118px;
}

.data-ypt-channel {
  display: inline;
  list-style-type: none;
}

.ypt_channels {
  width: 100%;
  max-width: 100%;
}

#ypt_wrapper {
  width: 100%;
  overflow: hidden;
  max-width: 100%;
  box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
}

.ypt_thumbs {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 20%;
  background: #000;
  margin: 0;
  padding: 0;
  height: 0;
}

.ypt_thumbs li {
  list-style: none;
  margin: 0;
  position: relative;
  font-size: 0;
}

.ypt_thumbs li img {
  width: 100%;
}

.ypt_thumbs li p {
  font-family: arial;
  font-size: 10px;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 5%;
  margin: 0;
}

.ypt_thumbs li:hover p {
  display: block;
  cursor: pointer;
}

.ypt_thumbs .ypt-now-playing p {
  display: block;
}

.ypt_thumbs .ypt-now-playing > span::after {
  content: '\25b6  Now playing'; /* A traingle pointing right */
  margin-top: -1em;
  display: block;
  width: 100%;
  padding: 5%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  position: absolute;
  bottom: 0;
  font-size: 10px;
}

#ypt_wrapper .video {
  position: relative;
  width: 79.5%;
  /*height: 0;*/
  padding-bottom: 48.4%;
  float: left;
  margin-right: 0.5%;
}

#ypt_wrapper .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
}

@media only screen and (max-width: 400px) {
  .ypt_thumbs {
    display: none;
  }
  #ypt_wrapper .video {
    width: 100%;
    padding-bottom: 56.25%;
  }
}

/*Nav Bar */

.sidebar {
  z-index: 1001;
  position: fixed;
  left: 0;
  top: calc(30% - (275px / 2));
  width: 55px;
  height: 275px;
}
.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #8abd47;
  overflow: hidden;
  position: relative;
}
.btn i {
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
  margin-left: 32px;
}
.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn::before {
  content: '';
  position: absolute;
  width: 120%;
  height: 120%;
  background: #8abd47;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
